.App {
  text-align: center;
  }

.nav-link{
  padding: 10px;
  margin: auto;
  color: black;
}
.navbar-brand{
  color:black;
  margin: 10px;
}
h1{
  font-size:20px ;
}
.flex-container{
  display: flex;
}
.btn{
  background-color:orange;
  color: aliceblue;
}
select{
  box-shadow: none;
  border-color: black;
}